extends ../../../common/_layout

block content
    .container
        .row
            .col-md-3
            .col-md-6
                .card.mt-4
                    .card-header.text-center
                        h4 Create New Project
                    .card-body
                        form(action='/project/create', method='POST')
                            input#name.form-control(
                                type='text',
                                name='name',
                                placeholder='Enter Project Name here...',
                                required
                            )
                            hr
                            label(for='description') Project Description
                            textarea#description.form-control(
                                type='text',
                                name='description',
                                style='height:18vh;',
                                placeholder='Enter Project Description here...'
                                required
                            )
                            hr
                            button.btn.btn-success.btn-lg.btn-block(type='submit') Create Project